
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="alert alert-danger" >Kategori sayısı: @ViewBag.categoryCount</div>

<div class="alert alert-info" >Proje sayısı: @ViewBag.projectCount</div>

<div class="alert alert-success">Yetenek sayısı: @ViewBag.skillCount</div>

<div class="alert alert-secondary">Ortalama Yetenek Puanı: @ViewBag.skillAvgValue</div>

<div class="alert alert-warning">Son Eklenen Yetenek: @ViewBag.lastSkillTitleName</div>

<div class="alert alert-primary">Asp.Net Core Proje Sayısı: @ViewBag.coreCategoryProjectCount</div>


